---
path: "/404"
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 - page not found">
    <div class="h-56 lg:w-[450px] w-56 lg:h-[450px] fixed bg-[#00ADB5] rounded-full -z-50 opacity-30 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" transition:name="blobA"></div>
    <div class="h-56 lg:w-[650px] w-56 lg:h-[650px] bg-[#00ADB5] rounded-full -z-50 opacity-30 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 fixed" transition:name="blobB"></div>
    <main class="min-h-screen flex flex-col justify-center">
        <div class="flex flex-col mx-auto text-white">
            <h1>ERROR: 404</h1>
            <p class="font-semibold">This is not the page you are looking for!</p>
        </div>
    </main>
</Layout>
