---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const { data, error } = await supabase.auth.getUser()

if (data.user !== null) {
    redirect("/login");
}

const email = data.user.email;
---

<Layout title="account">
    <p class="mt-20">{email}</p>
    <form action="/api/auth/signout">
        <button type="submit">Sign out</button>
    </form>
</Layout>