---
import Layout from "../layouts/Layout.astro"
import sendGrid from '@sendgrid/mail';

sendGrid.setApiKey( import.meta.env.SENDGRID_API_KEY );

if (Astro.request.method === 'POST') {
  try{
    const data = await Astro.request.formData();
    const name = data.get('name');
    const email = data.get('email');
    const message = data.get('message');

    const msg: any = {
        to: 'birdgamer516@gmail.com',
        from: 'birdgamer516@gmail.com',
        replyTo: {
            email:email as string, 
            name:name as string
            },
        subject: `Contact form submission from ${name}`,
        text: message,
        html: `<p>${message}</p>`,
    }
    await sendGrid.send(msg).then(() => {
      console.log('Email sent')
    }).catch((error) => {
      console.error(error)
    });

  } catch (error) {
    console.error(error);
  }
}
---

<Layout title="GameShack - Contact">
    <section class="hidden md:flex mx-4 flex-col min-h-screen justify-center" transition:name="form">
      <div class="h-56 lg:w-72 w-56 lg:h-72 fixed bg-[#00ADB5] rounded-full -z-50 opacity-30 lg:-bottom-10 lg:-right-10 -bottom-8 -right-8" transition:name="blobA"></div>
      <div class="h-56 lg:w-72 w-56 lg:h-72 bg-[#00ADB5] rounded-full -z-50 opacity-30 lg:top-0 top-4 -left-8 fixed" transition:name="blobB"></div>
      <form method="POST" class="flex w-1/2 mx-auto flex-col bg-ultraWhite p-8 rounded-lg shadow-lg">
        <h1 class="mb-4 text-center">Contact Us!</h1>
        
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="ex.: John Doe" class="rounded-lg p-4 border-2 border-gray shadow-md mb-8
        focus:outline-none focus:ring-2 focus:ring-[#00ADB5]" />
        
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="ex.: John@example.com" class="rounded-lg p-4 border-2 border-gray shadow-md mb-8
        focus:outline-none focus:ring-2 focus:ring-[#00ADB5]" />
        
        <label for="message">Email</label>
        <textarea name="message" placeholder="Type your message here...." class="rounded-lg p-4 border-2 border-gray shadow-md mb-8
        focus:outline-none focus:ring-2 focus:ring-[#00ADB5]"></textarea>

        <div class="flex ">
            <button type="submit" class="bg-[#00ADB5] w-full text-white font-semibold py-4 w-2/3 rounded-lg transition-colors ease-in-out duration-300 text-lg
            hover:bg-[#00acb5c2] focus:bg-[#00acb5c2] focus:outline-none focus:ring-2 focus:ring-gray">
                Send
            </button>
        </div>
      </form>
    </section>

    <section class="flex md:hidden items-center mx-4 min-h-screen justify-center" transition:name="form">

      <div class="h-56 lg:w-72 w-56 lg:h-72 fixed bg-[#00ADB5] rounded-full -z-50 opacity-30 lg:-bottom-10 lg:-right-10 -bottom-8 -right-8" transition:name="blobA"></div>
      <div class="h-56 lg:w-72 w-56 lg:h-72 bg-[#00ADB5] rounded-full -z-50 opacity-30 lg:top-0 top-4 -left-8 fixed" transition:name="blobB"></div>

      <form method="post" class="mt-24 flex flex-col bg-white h-fit px-8 py-4 w-11/12 rounded-2xl gap-4">
        <h1>Contact us!</h1>
        <div class="flex flex-col">
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="ex.: John Doe" class="
          rounded-lg py-2 px-4 border-gray border shadow-md transition-all ease-out duration-300
          focus:outline-none focus:ring-2 focus:ring-[#00ADB5]">
        </div>

        <div class="flex flex-col">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="ex.: John@example.com" class="
          rounded-lg py-2 px-4 border-gray border shadow-md transition-all ease-out duration-300
          focus:outline-none focus:ring-2 focus:ring-[#00ADB5]">
        </div>

        <div class="flex flex-col">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="5" placeholder="Type your message here...." class="
          rounded-lg py-2 px-4 border-gray border shadow-md transition-all ease-out duration-300
          focus:outline-none focus:ring-2 focus:ring-[#00ADB5]"></textarea>
        </div>


        <button 
          type="submit" 
          class="bg-[#00ADB5] py-2 rounded-xl text-white font-semibold transition-colors ease-in-out duration-300 text-lg
          hover:bg-[#00acb5c2] focus:bg-[#00acb5c2] focus:outline-none focus:ring-2 focus:ring-gray-200"
        >
          Send
        </button>
      </form>
    </section>
</Layout>