---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/");
}

const email = data?.user?.email;
---
<Layout title="GameShack - Account">
  <div class="h-56 lg:w-[450px] w-56 lg:h-[450px] fixed bg-[#00ADB5] rounded-full -z-50 opacity-30 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" transition:name="blobA"></div>
  <div class="h-56 lg:w-[650px] w-56 lg:h-[650px] bg-[#00ADB5] rounded-full -z-50 opacity-30 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 fixed" transition:name="blobB"></div>
  <section class="min-h-screen flex-col justify-center flex overflow-hidden">
    <div class="mx-auto">
      <h1 class="">Welcome</h1>
      <h3>{email}</h3>

      <div class="flex flex-col">
        <h2>See cart</h2>
        <a href="/cart">See my cart</a>
      </div>

      <form action="/api/auth/signout">
        <button type="submit" class="flex mx-auto px-4 py-2 bg-white/75 rounded-xl font-semibold ease-in-out duration-200
        hover:text-red hover:ring-2 hover:ring-red hover:ring-offset-2 hover:ring-offset-red
        focus:outline-none focus:text-red focus:ring-2 focus:ring-red focus:ring-offset-2 focus:ring-offset-red">Sign out</button>
      </form>
    </div>


  </section>
</Layout>