---
import Layout from '../layouts/Layout.astro';
---

<Layout title="GameShack">
	<section 
	
		class="flex mx-4 flex-col items-center justify-center gap-4 overflow-hidden w-screen h-screen"
	>
		<div class="w-56 h-56 fixed bg-[#00ADB5] rounded-full -z-50 opacity-50 top-4 -left-8" transition:name="blobA"></div>
		<div class="w-56 h-56 fixed bg-[#00ADB5] rounded-full -z-50 opacity-50 -bottom-8 -right-8" transition:name="blobB"></div>
		<h1 class="text-6xl font-semibold max-w-[850px] text-center">
			Find the <span
			class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600"
			>perfect game</span
		  > in each genre.
		</h1>

		<p class="max-w-2xl text-center">
		  Your favorite game store. Discover the latest trends and designs
		  unique in our clothing boutique.
		</p>
	</section>
</Layout>