---
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

  if (accessToken && refreshToken) {
  return redirect("/dashboard");
}
---

<Layout title="GameShack - sign in">
  <div class="flex mx-4 flex-col min-h-screen justify-center">
    <h1 class="mb-4 text-center">Sign in</h1>
    <form action="/api/auth/signin" method="post" class="flex mx-auto flex-col w-1/2 bg-white p-8 rounded-lg">
      <label for="email" for="email">Email</label>
      <input type="email" name="email" id="email" class="rounded-lg p-4 border-2 border-gray-200 shadow-md mb-8
      focus:outline-none focus:ring-2 focus:ring-[#00ADB5]" />
      
      <label for="password" for="password" >Password</label>
      <input type="password" name="password" id="password" class="rounded-lg p-4 border-2 border-gray-200 shadow-md mb-8
      focus:outline-none focus:ring-2 focus:ring-[#00ADB5]" />

      <div class="flex justify-center">
        <button type="submit" class="bg-[#00ADB5] text-white font-semibold py-4 w-2/3 rounded-lg transition-colors ease-in-out duration-300 text-lg
        hover:bg-[#00acb5c2] focus:bg-[#00acb5c2] focus:outline-none focus:ring-2 focus:ring-gray-200">Login</button>
      </div>
      
      <p class="text-center my-2">Or</p>
      <div class="justify-center flex">
        <button value="github" name="provider" type="submit" 
        class="bg-[#840884] text-white font-semibold rounded-lg w-2/3 py-4 transition-colors ease-in-out duration-300
        hover:bg-[#840884c4] focus:bg-[#840884c4] focus:outline-none focus:ring-2 focus:ring-gray-200">Sign in with GitHub</button>
      </div>


      <p class="flex mt-10">New here? <a href="/register" class="text-blue-500 underline ml-2">Create an account</a></p>
    </form>
  </div>

</Layout>