---
import Layout from "../layouts/Layout.astro"
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/");
}

const user = await supabase.auth.getUser()

const wishlist = await supabase.from("wishlist").select().eq("user_id", user.data.user.id);
const games = wishlist.data;

---

<Layout title="GameShack - Wishlist">
    <h1 class="mt-20">Wishlist</h1>
    {
        games.map((game) => (
            <div class="">
                <h2>{game.title}</h2>
                <p>{game.price}</p>
            </div>
        ))
    }
</Layout>