---
interface Props {
	
	id: string
	image: string
	title: string
	consoles: string[]
	price: number
	
}
const { id, image, title, consoles, price } = Astro.props;
---

<div class="h-auto flex justify-center mb-8">
	<a href={'/details/' + id}
	class="w-80 h-auto flex flex-col overflow-hidden rounded-lg 
	bg-white border-2 border-gray-300 shadow-lg gap-4
	transition-all ease-in-out duration-300
	hover:shadow-xl hover:scale-110 ">
		<div class="w-full h-80 overflow-hidden">
			<img 
				src={image} 
				alt={title + ' - banner'}
				class="w-full h-full object-cover"
			>
		</div>

		<div class="mx-auto justify-center">
			<h2
				class="text-2xl font-bold text-center text-gray-800"
			>
				{title}
			</h2>

			<div class="flex gap-4 justify-center">
				{consoles.map(console => (
					<p class="text-gray-800 text-xs bg-slate-600/15 font-semibold rounded-full p-2">{console}</p>
				))}
			</div>
		</div>

		<div class="mx-5 mt-8 mb-4">
			<p>Price: <span>€{price}</span></p>
		</div>
	</a>        
</div>
