---
import { supabase } from '../lib/supabase';
import Icon from './Icon.astro';

interface Props {
	id: number;
}

const { id } = Astro.props;
if(Astro.request.method === 'POST'){
    await supabase.from('cart').delete().eq('id', id)
}
---

<form method="post">
    <button class="btn px-4 py-2 flex gap-2 items-center" type="submit">
        Clear cart 
        <Icon name="delete" />
    </button>
</form>

<script>
    document.querySelector(".btn").addEventListener("click", () => {
        window.location.reload();
    });
</script>