---
import { supabase } from '~/lib/supabase';

interface Props {
	id: number;
}

const { id } = Astro.props;
if(Astro.request.method === 'POST'){
    await supabase.from('cart').delete().eq('id', id)
}
---

<form method="post">
    <button class='btn' type="submit">
        Clear cart
    </button>
</form>

<script>
    document.querySelector(".btn").addEventListener("click", () => {
        window.location.href = "/cart";
        console.log("clicked");
    });
</script>